@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@100&family=Josefin+Sans:wght@100&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Encode Sans SC', sans-serif;
  font-family: 'Josefin Sans', sans-serif;
}
.container{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.container::after {
  -webkit-backdrop-filter: blur(15px); /* Use for Safari 9+, Edge 17+ (not a mistake) and iOS Safari 9.2+ */
  backdrop-filter: blur(15px); /* Supported in Chrome 76 */

  content: "";
  display: block;
  position: absolute;
  width: 100%; height: 100%;
  top: 0;
}

.player-playlist{
  z-index: 1;
  width: 300px;
  height: 500px;
  margin-top: 30px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0px 0px 20px rgb(2, 10, 37);
  background-color: rgb(255, 255, 255);
}
.playlist{
  position: relative;
  left:500px;
  top:-450px;
  height: 500px;
  overflow: scroll;
  z-index: 1;
}
.player{
  position: relative;
  z-index: 1;
  opacity: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.player_details{
  justify-content: center;
  align-items: center;
  text-align: center;
}
.imgg{
  width: 100%;
  height:100%;
  animation: spin 6s linear infinite;
}
@keyframes spin { 
  from { 
      transform: rotate(0deg); 
  } to { 
      transform: rotate(360deg); 
  }
}
.image_details{
  display: block;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  overflow: hidden;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  box-shadow: 0px 0px 20px rgb(2, 10, 37);
}
.details_title{
  margin-top: 20px;
  font-size: 1.5rem;
  font-weight: 600;
}
.playing{
  margin-top: 10px;
  font-family: 'Encode Sans SC', sans-serif;

}
.footer{
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: row;
  font-weight: 600;
  color: rgb(24, 112, 71);
}
.player_controls{
  margin-top: 10px;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}
.skip_btn{
  /* background-color: blue; */
  font-size: 1rem;
  background: transparent;
  border: none;
  cursor: pointer;
  margin-left: 20px;
  margin-right: 20px;
  color: rgb(0, 0, 0);
}
.play_btn{
  background: transparent;
  border: none;
  font-size: 2.5rem;
  border-radius: 50%;
  cursor: pointer;
  /* color: green; */
  color: rgb(0, 0, 0);
}
.progress {
  width: 90%;
  position: relative;
  display: flex;
  height: 0.5rem;
  transition: height 0.3s;
  background: rgb(247, 228, 228);
  cursor: pointer;
  border-radius: 10px;
}

.progress__filled {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  background: #000000;
  flex: 0;
  height: 100%;
  border-radius: 10px;
}
.duration{
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background: white; */
  width: 90%;
}
.duration div{
  color: rgb(0, 0, 0);
  font-weight: 600;
  font-size: smaller;
}
.button{
  text-shadow: 0px 0px 20px rgb(2, 10, 37);
}
strong{
  color: black;
  font-weight: bold;
}





.playlist > h2{
  color: rgb(0, 0, 0);
  text-align: center;
  font-size: 30px;
}

.item{
  width: 100%;
  height: 70px;
  display: flex;
  padding: 12px;
  margin-right: auto;
  margin-left: auto;
  cursor: pointer;
}
.item_details{
  color: rgb(0, 0, 0);
  opacity: 0.7;
  margin-left: 20px;
}
h6{
  font-size: 15px;
}
.playlist img{
  width: 40px;
}
#registerBtn{
  background-color: rgb(255, 255, 255);
  width: 50%;
  height: 35px;
  color: #000000;
  outline: none;
  font-weight: 900;
  border: 1px solid black;
  cursor: pointer;
}
#loginBtn{
  background-color: rgb(255, 255, 255);
  width: 50%;
  height: 35px;
  outline: none;
  font-weight: 900;
  border: 1px solid black;
  cursor: pointer;
}